/*Interface Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #000;
    height: 100vh;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ff7300;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}
h2.titulo span{
    color: #e5ff00;
}

button:hover{
    box-shadow: 0px opx 8px #ff7300fd;
    transform: scale(1.05);
}


/* Estilo do Cabeçalho*/
header{
    padding: 40px 4%;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: #c9c6c6;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
    header a:hover{
        color: #fff;
        transform: scale(1.05);
    }

header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

    /* Estilo do Topo do Site*/
    section.topo-do-site{
        padding: 40px 4%;
    }
    section.topo-do-site .flex{
        align-items: center;
        justify-content: center;
        gap: 90px;
    }

    .topo-do-site h1{
        color: #fff;
        font-size: 40px;
        line-height: 40px;
    }
    .topo-do-site .txt-topo-site h1 span{
        color: #e5ff00;
        font-size: 80px;
    }

    .topo-do-site .txt-topo-site p{
        color: #fff;
        margin: 40px 0;
    }

    .topo-do-site .img-topo-site img{
        position: relative;
        animation: flutuar 2s ease-in-out infinite alternate;
    }

    @keyframes flutuar {
        0%{
            top: 0;
        }
        100%{
            top: 30px;
        }
    }

    /*ESTILO DAS ESPECIALIDADES*/
    section.especialidades{
        padding: 40px 4%;
    }

    section.especialidades flex{
        gap: 60px;
    }

    .especialidades .especialidades-box{
        color: #fff;
        padding: 40px 4%;
        border-radius: 20px;
        margin-top: 45px;
        transition: 2.s;
    }

    .especialidades .especialidades-box:hover {
        transform: scale(1.05);
        box-shadow: 0 0 18px #ffffff7e;
        
    }

    .especialidades .especialidades-box i{
        font-size: 70px;
        color: #e5ff00;
    }

    .especialidades .especialidades-box h3{
        font-size: 28px;
        margin: 15px 0;
    }
    /*ESTILO DO SOBRE*/
    section.sobre{
        padding: 80px 4%;
    }
    section.sobre .flex{
        align-items: center;
        gap: 60px;
    }
    .sobre .txt-sobre{
        color: #fff;
    }
    .sobre .txt-sobre h2{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    .sobre .txt-sobre span{
        color: #e5ff00;
        display: block;
    }

    .sobre .txt-sobre p{
        margin: 20px 0;
        text-align: justify;
    }

    .sobre .txt-sobre .btn-social button{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: none;
        background-color: #ff7300;
        font-size: 23px;
        cursor: pointer;
        transition: .2s;
    }

    /*ESTILO PORTIFOLIO*/
    section.portfolio{
        padding: 80px 4%;
        box-shadow: 0 0 40px 10px #ffffff3d;
    }

    section.portfolio .flex{
        justify-content: space-around;
        margin-top: 60px;
    }

    .img-port{
        width: 360px;
        height: 460px;
        background-size: cover;
        /*background-position: 100% 0%;*/
        transition: 5s;
        cursor: pointer;
        border-radius: 40px;
    }
   .img-port:hover{
        background-position: 100% 100%;
    }
    .overlay {
        /*position: absolute;
        top: 0;
        left: 0;*/
        width: 100%;
        height: 100%;
        background-color: #000000b8;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 600;
        color: #fff;
        opacity: 0;
        transition: .5s;
    }
    .overlay:hover{
        opacity: 1;
    }

    @media screen and (max-width:1020px) {

        /*CLASSES GERAIS*/
        .topo-do-site .flex{
            flex-direction: column-reverse;
        }

        .flex{
            flex-direction: column;
        }

        /*CABEÇALHO*/
        .menu-desktop, .btn-contato{
            display: none;
        }

        /*TOPO DO SITE*/

        section.topo-do-site .flex{
            gap: 40px;
        }

        section.topo-do-site{
            padding: 10px 1%;
        }

        .topo-do-site h1{
            font-size: 28px;
        }
        .topo-do-site .img-topo-site img{
            width: 100%;
        }
        /*SOBRE*/

        section.sobre{
            padding: 78px 8%;
        }

        .sobre .txt-sobre h2{
            font-size: 36px;
            line-height: 38px;
            text-align: center;
        }

        /*PORTFOLIO*/

        section.portfolio{
            padding: 80px 8%;
        }

        .img-port{
            width: 360px;
            margin: 0 auto;
            height: 460px;
        }

        section.portfolio .flex{
            gap: 60px;
        }

    }